---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Playground - Product Card">
	<main>
		<ul role="list" class="list">
			<Card
				href="#"
				title="Product A"
				rating="⭐️⭐️⭐️⭐️⭐️"
				testnote="This is a test note"
				price="$19.99"
			/>
			<Card
				href="#"
				title="Product B"
				rating="&nbsp;"
				testnote="This is a test note"
				price="$19.99"
			/>
			<Card
				href="#"
				title="Product C"
				rating="️⭐️⭐️⭐️"
				testnote="&nbsp;"
				price="$19.99"
			/>
			<Card
				href="#"
				title="Product D"
				rating="&nbsp;"
				testnote="&nbsp;"
				price="$19.99"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		//width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 2rem;
		padding: 0;
	}
</style>
